<div class="inputForm">
    <form>
        <div class="form-group">
            <label >Grade</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter grade percent (ie. 95, 75, 55)">
        </div>
        <div class="padding"></div>
        <div class="form-group">
            <label >Class</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Introduction to Linear Algebra">
        </div>
        <div class="padding"></div>
        <div class="form-group">
            <label for="exampleInputPassword1">Professor</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="James Matthews">
        </div>
        <div class="padding"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
